[Desktop Entry]
Version=1.0
Name=Inference        
Comment=Start inference program from desktop
Exec=bash -c 'sudo python3 /home/nvidia/github/TF_Inference/run_inference.py --graph /home/nvidia/github/TF_Inference/tf_files/mobile_net_fish_of_guadalupe_graph.pb --labels /home/nvidia/github/TF_Inference/tf_files/mobile_net_guadalupe_labels.txt'
Icon=/home/nvidia/icon2.png
Terminal=true 
Type=Application
Categories=Application;
